body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: arial;
}

h1 {
  color: black;
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
}

.contenedor {
  text-align: center;
}

.resultado {
  color: green;
}
